<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Продукты в категории {{ category.name }}</title>
</head>
<body>
    <h1>Продукты в категории "{{ category.name }}"</h1>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.name }}</h2>
                    <p>Описание: {{ product.description }}</p>
                    <p>Цена: {{ product.price }} ₽</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В этой категории пока нет продуктов.</p>
    {% endif %}
</body>
</html>